<%= form_with(model: event_user, local: true) do |form| %>
  <% if event_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_user.errors.count, "error") %> prohibited this event_user from being saved:</h2>

      <ul>
      <% event_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invited_event_id %>
    <%= form.number_field :invited_event_id, id: :event_user_invited_event_id %>
  </div>

  <div class="field">
    <%= form.label :guest_id %>
    <%= form.number_field :guest_id, id: :event_user_guest_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :event_user_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
