<p id="notice"><%= notice %></p>

<p>
  <strong>Invited event:</strong>
  <%= @event_user.invited_event_id %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @event_user.guest_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event_user.status %>
</p>

<%= link_to 'Edit', edit_event_user_path(@event_user) %> |
<%= link_to 'Back', event_users_path %>
