<p id="notice"><%= notice %></p>

<h1>Coris</h1>

<table>
  <thead>
    <tr>
      <th>When</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coris.each do |cori| %>
      <tr>
        <td><%= cori.when %></td>
        <td><%= link_to 'Show', cori %></td>
        <td><%= link_to 'Edit', edit_cori_path(cori) %></td>
        <td><%= link_to 'Destroy', cori, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cori', new_cori_path %>
