<%= form_for(@event_comment) do |f| %>
  <% if @event_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_comment.errors.count, "error") %> prohibited this event_comment from being saved:</h2>

      <ul>
      <% @event_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.text_field :timestamp %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
