<%= form_with(model: event_item, local: true) do |form| %>
  <% if event_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_item.errors.count, "error") %> prohibited this event_item from being saved:</h2>

      <ul>
      <% event_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id, id: :event_item_event_id %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.number_field :item_id, id: :event_item_item_id %>
  </div>

  <div class="field">
    <%= form.label :assigned_person_id %>
    <%= form.number_field :assigned_person_id, id: :event_item_assigned_person_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
