<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_item.event_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @event_item.item_id %>
</p>

<p>
  <strong>Assigned person:</strong>
  <%= @event_item.assigned_person_id %>
</p>

<%= link_to 'Edit', edit_event_item_path(@event_item) %> |
<%= link_to 'Back', event_items_path %>
