<p id="notice"><%= notice %></p>

<h1>Circle Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Circle</th>
      <th>Moderator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @circle_users.each do |circle_user| %>
      <tr>
        <td><%= circle_user.user_id %></td>
        <td><%= circle_user.circle_id %></td>
        <td><%= circle_user.moderator %></td>
        <td><%= link_to 'Show', circle_user %></td>
        <td><%= link_to 'Edit', edit_circle_user_path(circle_user) %></td>
        <td><%= link_to 'Destroy', circle_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Circle User', new_circle_user_path %>
