<%= form_for(@event_location) do |f| %>
  <% if @event_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_location.errors.count, "error") %> prohibited this event_location from being saved:</h2>

      <ul>
      <% @event_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
