<p id="notice"><%= notice %></p>

<h1>Listing Event Locations</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_locations.each do |event_location| %>
      <tr>
        <td><%= event_location.event_id %></td>
        <td><%= event_location.location_id %></td>
        <td><%= link_to 'Show', event_location %></td>
        <td><%= link_to 'Edit', edit_event_location_path(event_location) %></td>
        <td><%= link_to 'Destroy', event_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event location', new_event_location_path %>
